In [95]:
import pandas as pd

# Data

In [96]:
train_df = pd.read_csv("./Dataset/train.csv")
test_df = pd.read_csv("./Dataset/test.csv")

In [97]:
train_df_c = train_df.copy()
test_df_c = test_df.copy()

In [98]:
train_df_c.head()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,4f14c50d-162e-4a15-9cf0-ec129c33bcf0,37.0,ذكر,منطقة الرياض,الرياض,453686d8-4023-4506-b2df-fac8b059ac26,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,هندسة حاسب الالي,NaN,2.44,4.0,غير موظف,NaN,NaN,0
1,0599d409-876b-41a5-af05-749ef0e77d32,21.0,ذكر,منطقة عسير,خميس مشيط,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0
2,38a11c0e-4afc-4261-9c64-e94cc0a272fb,24.0,ذكر,منطقة الرياض,الرياض,e006900d-05a9-4c2b-a36f-0ffb9fce44cd,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,Information Technology,NaN,3.50,5.0,موظف,NaN,NaN,0
3,1693e85b-f80e-40ce-846f-395ddcece6d3,23.0,ذكر,منطقة الرياض,الرياض,2ec15f6b-233b-428a-b9f5-e40bc8d14cf9,TOSL,TOSL,NaN,NaN,...,نعم,البكالوريوس,حوسبة تطبيقية - (مسار شبكات الحاسب),NaN,3.55,5.0,خريج,NaN,NaN,0
4,98a0e8d0-5f80-4634-afd8-322aa0902863,23.0,ذكر,منطقة الرياض,الرياض,d32da0e9-1aed-48c3-992d-a22f9ccc741e,CAUF,SWPS,تقليدية,متوسط,...,لا,البكالوريوس,نظم المعلومات الحاسوبية,تكنولوجيا الاتصالات والمعلومات,4.00,5.0,NaN,NaN,NaN,0

In [99]:
test_df_c.shape

(818, 23)

# Invistaging if there's any duplicates

In [110]:
def check_dublicate(train,test):
    """
    check wither theres a 'leak' in the test set from the train set

    Args:
        train (_type_): dataframe
        test (_type_): dataframe
        
    Return: 
        bool: True if there are leaked records, False otherwise.
        list: A list of leaked records (if any).
        float: The percentage of leaked records (if any).
    """
    hash_train = set(train)
    hash_test = set(test)
    
    leaks = list(hash_train.intersection(hash_test))
    has_leak = len(leaks) > 0

    
    # Percentage
    num_leak = len(leaks)
    total_records_train = len(train)
    leak_percentage = (num_leak / total_records_train) * 100
    
    return has_leak, leaks , leak_percentage  
    
has_leak, leaks, leak_percentage = check_dublicate(train_df_c['Student ID'],test_df_c['Student ID'])

print(has_leak, len(leaks), leak_percentage)
print(leaks[:1])

True 286 4.367745876603543
['c5316d11-38bb-450c-9372-26cd8aab05e2']

In [111]:
test_df_c[test_df_c['Student ID'] == 'c5316d11-38bb-450c-9372-26cd8aab05e2']

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Program Days,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working
262,c5316d11-38bb-450c-9372-26cd8aab05e2,24.0,أنثى,منطقة مكة المكرمة,العاصمة المقدسة,8d7f7985-b199-4712-9dfd-32f5e4a8eb85,INFA,INFA,تقليدية,مبتدئ,...,5,نعم,البكالوريوس,نظم المعلومات,تكنولوجيا الاتصالات والمعلومات,3.36,4.0,غير موظف,تدريب,No

In [112]:
train_df[train_df['Student ID'] == 'c5316d11-38bb-450c-9372-26cd8aab05e2']

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
1521,c5316d11-38bb-450c-9372-26cd8aab05e2,24.0,أنثى,منطقة مكة المكرمة,العاصمة المقدسة,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,نظم المعلومات,تكنولوجيا الاتصالات والمعلومات,3.36,4.0,غير موظف,تدريب,No,0

Insights
- No leak found
- use target encoding on train data for more random feature engineering
- Synthetic Data Generation to get more data

## Target encoding

In [103]:
train_df_c["city_encoded"] = train_df_c.groupby("Home City")["Y"].transform("mean")

In [104]:
train_df_c["Home City"].unique()

array(['الرياض', 'خميس مشيط', 'حفر الباطن', 'جدة', 'نجران', 'مكة المكرمة',
       'ينبع', 'المدينة المنورة', 'الهفوف', 'بريدة', 'تبوك',
       'العاصمة المقدسة', 'الأحساء', 'الجبيل', 'عرعر', 'أبها', 'أبو عريش',
       'الدمام', 'الطائف', 'الباحة', 'أحد المسارحة', 'حائل', 'الدلم',
       'القطيف', 'الدرعية', 'جيزان', 'جازان', 'الخبر', 'المجمعة', 'الخرج',
       'الظهران', 'الدوادمي', 'المزاحمية', 'عنيزة', 'القنفذة', 'الليث',
       'شرورة', 'الرس', 'صامطة', 'شقراء', 'سيهات', 'صفوى', 'سكاكا',
       'البدائع', 'رابغ', 'رفحاء', 'بيشة', 'محايل', 'المذنب', 'الخفجي',
       'رأس تنورة', 'ضمد', 'القريات', nan, 'حوطة بني تميم', 'ضبا',
       'مهد الذهب', 'بارق', 'بيش', 'دومة الجندل', 'صبيا', 'العرضيات',
       'الحناكية', 'سراة عبيدة', 'أحد رفيدة', 'تربة', 'العلا',
       'الحريملاء', 'بلجرشي', 'بقيق', 'القرى', 'رجال ألمع', 'المجاردة',
       'وادي الفرع', 'محايل عسير', 'الزلفي', 'بدر', 'تثليث', 'عنك',
       'البكيرية', 'ابها', 'بني حسن', 'رياض الخبراء', 'ثادق', 'الدرب',
       'بحرة', 'الجموم', 'الغاط', 'تيماء', 'طبرجل', 'طريف',
       'ظهران الجنوب', 'أملج'], dtype=object)

In [105]:
len(train_df_c[(train_df_c["Home City"] == "الرياض") & (train_df_c["Y"] == 0)])

4037

In [106]:
train_df_c["city_encoded"]

0       0.144703
1       0.175000
2       0.144703
3       0.144703
4       0.144703
          ...
6543    0.144703
6544    0.106061
6545    0.144703
6546    0.144703
6547    0.144703
Name: city_encoded, Length: 6548, dtype: float64

In [113]:
train_df_c.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y', 'city_encoded'],
      dtype='object')